{% extends 'base.html.twig' %}

{% block body %}
<body class="admin">

    <div class="row">
        {% include '@Flo/Default/navadmin.html.twig' %}

        <div class="col l10">
            <div class="container adm">
                <div class="row admincontenu">

                    <h1><a href="{{ path('modele_new') }}">Créer un modèle</a></h1>

                    <table>
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Titre</th>
                                <th>Contenu</th>
                                <th>Catégorie</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for modele in modeles %}
                                <tr>
                                    <td><img class="materialboxed" src="{{ asset('uploads/images/') }}{{ modele.image }}""></td>
                                    <td>{{ modele.titre }}</td>
                                    <td wordwrap><div class="contentmodele">{{ modele.contenu }}</div></td>
                                    <td>{{ modele.categorie }}</td>
                                    <td>
                                        <ul>
                                            <li>
                                                <a href="{{ path('modele_edit', { 'id': modele.id }) }}"><i class="material-icons">mode_edit</i></a>
                                                <a href="{{ path('modele_delete', { 'id': modele.id }) }}"><i class="material-icons">delete</i></a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                   <div class="row center">
                        <a href="{{ path('modele_new') }}"><i class="medium material-icons">note_add</i></a>
                   </div>

                </div>

            </div>

        </div>
    </div>

</body>
{% endblock %}
