{% extends 'base.html.twig' %}

{% block body %}
    {% include '@Flo/Default/navadmin.html.twig' %}

<div id="admin">

    <div class="container">

        <div class="row admin_index">

            <div class="row">
                <div class="text-center jumbotron">

                    {% block fos_user_content %}

                    {% if error %}
                        <div class="alert alert-danger" role="alert">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}

                    <form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post">
                        <div class="form-group">

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                            <label class="control-label" for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                            <input class="form-control input-md" type="text" id="username" name="_username" required="required" />
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                            <input class="form-control input-md" type="password" id="password" name="_password" required="required" />
                        </div>

                        <div class="form-group">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                        </div>


                        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-default">
                </form>
                </div>


                {% endblock fos_user_content %}
            </div>
        </div>
    </div>
</div>


        {% endblock %}
