<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }} >

    <head {{ sonata_seo_head_attributes() }}>

        {{ sonata_seo_title() }}

        {{ sonata_seo_metadatas() }}

        {% block stylesheets %}
            <!-- Compiled and minified CSS -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
            <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.material.min.css">

            <!-- Icônes -->
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/flo/fonts/font-awesome-4.3.0/css/font-awesome.min.css') }}" />

            <!-- Appel CSS personnalisé -->
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/flo/css/style.css') }}"/>

            <script src="{{ asset('bundles/flo/js/modernizr-custom.js') }}"></script>

        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>

    {% block header %}
    {% endblock %}

    <body>

        {% block body %}{% endblock %}

        {% block footer %}{% endblock %}
        <footer>
            <div class="footer-copyright">

                     {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    {% else %}
                        <a href="{{ path('admin_homepage') }}">© 2016 Copyright</a>
                    {% endif %}

                <div class="left">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a href="{{ path('admin_homepage') }}">Accéder à l'Admin</a>
                    {% else %}

                    {% endif %}
                </div>

            </div>
        </footer>

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
            <!-- Compiled and minified JavaScript -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
            <script src="{{ asset('bundles/flo/js/imagesloaded.pkgd.min.js') }}"></script>
            <script src="{{ asset('bundles/flo/js/masonry.pkgd.min.js') }}"></script>
            <script src="{{ asset('bundles/flo/js/classie.js') }}"></script>
            <script src="{{ asset('bundles/flo/js/main.js') }}"></script>
            <script src="{{ asset('bundles/flo/js/flogrid.js') }}"></script>
            <script src="{{ asset('bundles/flo/js/flo.js') }}"></script>
        {% endblock %}


    </body>
</html>
