<!DOCTYPE html>
<html lang="fr">

<head>

    <meta name="description" content="Le site de Florence Menet-Pelisson donne a voir les oeuvres sur papier (dessins au crayon, au pastel sec, gravures sur bois, gravures sur cuivre) de l'artiste ainsi que les travaux de ses eleves. La rubrique fiction presente ses lectures et les textes qu'elle-meme ecrit.
" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <title>Florence Menet-Pélisson</title>

    <meta name=viewport content="width=device-width, initial-scale=1">

    {% block stylesheets %}
        <!-- CSS Lightbox -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.1.1/ekko-lightbox.min.css">

        <!-- Appel CSS personnalisé -->
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/flo/css/style.css') }}"/>

    {% endblock %}

    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//www.florence-pelisson.fr/piwik/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', '1']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Piwik Code -->

</head>



<body>

{% block body %}{% endblock %}

{% block footer %}{% endblock %}


{% block javascripts %}

    <!-- Appel Jquery CDN -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ asset('bundles/flo/js/bootstrap.min.js') }}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <!-- Appel CDN Lightbox -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.1.1/ekko-lightbox.min.js" async></script>

    <!-- Appel Isotope -->
    <script src="https://unpkg.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>

    <script src="{{ asset('bundles/flo/js/isotope.pkgd.min.js') }}"></script>

    <!-- JS Perso -->
    <script src="{{ asset('bundles/flo/js/flo.min.js') }}"></script>
{% endblock %}


</body>

</html>
