{% extends 'base.html.twig' %}

{% block body %}

    <body class="admin">

    <div class="row">
        {% include '@Flo/Default/navadmin.html.twig' %}

        <div class="col l10">
            <div class="container adm">
                <div class="row admincontenu">
                    <a href="{{ path('about_new') }}"><h1>A propos</h1></a>
                    <table>
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Contenu</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for about in abouts %}
                            <tr>
                                <td>{{ about.date }}</td>
                                <td>{{ about.contenu }}</td>
                                <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('about_edit', { 'id': about.id }) }}"><i class="material-icons">mode_edit</i></a>
                                            <a href="{{ path('about_delete', { 'id': about.id }) }}"><i class="material-icons">delete</i></a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                   <div class="row center">
                        <a href="{{ path('about_new') }}"><i class="medium material-icons">note_add</i></a>
                   </div>

                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
