{% extends 'base.html.twig' %}

{% block body %}
    {% include '@Flo/Default/navadmin.html.twig' %}

    <div id="admin">
        <div class="container">
            <h1>Actualite edit</h1>

            {{ form_start(edit_form) }}
            {{ form_label(edit_form.titre) }}
            {{ form_widget(edit_form.titre) }}
            {{ form_errors(edit_form.titre) }}

            {{ form_label(edit_form.contenu) }}
            {{ form_widget(edit_form.contenu) | raw }}
            {{ form_errors(edit_form.contenu) }}

            <hr>

            <div class="col-xs-5">
                <label>Image actuelle :</label>
                <a href="{{ asset('uploads/images/') }}{{ actualite.image }}" data-toggle="lightbox" data-gallery="example-gallery">
                    <img class="thumbnail" src="{{ asset('uploads/images/') }}{{ actualite.image }}">
                </a>
            </div>


            <div class="col-xs-7">

                <label>Nouvelle image :</label>
                {{ form_widget(edit_form.image) }}
                {{ form_errors(edit_form.image) }}
            </div>

        </div>


        <div class="col-xs-12 boutons text-center">
            <button class="btn btn-default" type="submit" title="Valider">Valider</button>
            <a class="btn btn-default" href="{{ path('actualites_index') }}" title="Annuler">Annuler</a>
            <a class="btn btn-default" href="{{ path('actualites_delete', { 'id': actualite.id }) }}" title="Effacer">Supprimer</a>
        </div>
        {{ form_end(edit_form) }}


    </div>
    {% include '@Flo/Default/footer.html.twig' %}

{% endblock %}
