{% extends 'base.html.twig' %}

{% block body %}
    {% include '@Flo/Default/navadmin.html.twig' %}

    <div id="admin">
        <div class="container">
            <h1>Actualites - Accueil</h1>

            <hr>
            <div class="text-center">
                <a class="btn btn-default" href="{{ path('actualites_new') }}">Nouveau</a>
            </div>
            <hr>

            <div class="table-responsive">

                <table id="modeles" class="table table-bordered" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>Titre</th>
                        <th>Contenu</th>
                        <th>Catégories</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for actualite in actualites %}
                        <tr>
                            {% for image in actualite.image.urls %}

                            <td>
                                <a href="{{ asset('uploads/images/' ~ image) }}" data-toggle="lightbox" data-gallery="example-gallery">
                                    <img class="thumbnail" src="{{ asset('uploads/images/' ~ image) }}">
                                </a>
                            </td>

                            {% endfor  %}
                            <td>{{ actualite.titre }}</td>
                            <td>{{ actualite.contenu | truncate(600) | raw }}</td>
                            <td>
                                {% for categorie in actualite.categorie %}
                                    {{ categorie }}
                                {% endfor %}
                            </td>
                            <td class="text-center">
                                <a class="btn btn-default" href="{{ path('actualites_edit', { 'id': actualite.id }) }}">Editer</a>
                                <a class="btn btn-default" href="{{ path('actualites_delete', { 'id': actualite.id }) }}">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    {% include '@Flo/Default/footer_admin.html.twig' %}

{% endblock %}

