{% extends 'base.html.twig' %}

{% block body %}
<body class="admin">

    <div class="row">
        {% include '@Flo/Default/navadmin.html.twig' %}

        <div class="col l10">
            <div class="container adm">
                <div class="row admincontenu">

                    <div class="row">
                        <div class="col l11">
                            <h1>Créer un modèle</h1>
                        </div>
                        <div class="col l1">
                            <a href="{{ path('modele_new') }}"><i class="medium material-icons">note_add</i></a>
                        </div>

                    </div>

                    <table id="modeles" class="cell-border highlight" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Titre</th>
                                <th>Contenu</th>
                                <th>Catégorie</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for modele in modeles %}
                                <tr>
                                    <td><img class="materialboxed" src="{{ asset('uploads/images/') }}{{ modele.image }}""></td>
                                    <td>{{ modele.titre }}</td>
                                    <td wordwrap><div class="contentmodele">{{ modele.contenu|raw }}</div></td>
                                    <td>{{ modele.categorie }}</td>
                                    <td>
                                        <ul>
                                            <li>
                                                <a href="{{ path('modele_edit', { 'id': modele.id }) }}"><i class="material-icons">mode_edit</i></a>
                                                <a href="{{ path('modele_delete', { 'id': modele.id }) }}"><i class="material-icons">delete</i></a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>



                </div>

            </div>

        </div>
    </div>

</body>
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script>
        $(document).ready(function() {

            $('#modeles').DataTable({
                "dom": '<lf<t>ip>',
                "pageLength": 5,
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                "language": {
                    "lengthMenu": "_MENU_ ",
                    "zeroRecords": "Rien ne correspond à votre recherche désolé",
                    "info": "Page _PAGE_ / _PAGES_",
                    "search": "Rechercher:",
                    "infoFiltered":   "(parmi _MAX_ modèles)",
                    "paginate": {
                        "first":      "Premier",
                        "last":       "Dernier",
                        "next":       "Suivant",
                        "previous":   "Précédent"
                    }
                    }}
            );

        } );
    </script>
    <script src="{{ asset('bundles/flo/js/jquery.dataTables.js') }}"></script>
{% endblock %}
