{% extends 'base.html.twig' %}

{% block body %}
    <div class="home">
        <div class="row">
            <div class="col-md-7 col-xs-10 name">
                <h1><a href="{{ path('flo_homepage') }}">FLORENCE MENET-PELISSON</a></h1>
            </div>

            <div class="col-xs-2 sidebar">

                <input type="checkbox" id="navigation" />
                <label for="navigation">
                    <span id="nav_icon" class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                </label>

                <nav>
                    <ul class="menu_flo">
                        <li><a href="{{ path('flo_oeuvres') }}">Oeuvres</a></li>
                        <li><a href="{{ path('flo_cours') }}">Cours</a></li>
                        <li><a href="{{ path('flo_actu') }}">Actualités</a></li>
                        <li><a href="{{ path('flo_about') }}">A propos</a></li>
                        <li><a href="{{ path('flo_contact') }}">Contact</a></li>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li><a class="item" href="{{ path('admin_homepage') }}">Admin</a> </li>
                        {% else %}

                        {% endif %}
                    </ul>
                </nav>

            </div>
        </div>

    </div>


{% endblock %}
