<header>
    <div>
        <nav>
            <div class="nav-wrapper">
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="centermenu hide-on-med-and-down">
                    <li><a class="item" href="{{ path('flo_homepage') }}">Accueil</a></li>
                    <li><a class="item" href="{{ path('flo_oeuvres') }}">Oeuvres</a></li>
                    <li><a class="item" href="{{ path('flo_fictions') }}">Fictions</a></li>
                    <li><a class="item" href="{{ path('flo_cours') }}">Cours</a></li>
                    <li><a class="item" href="{{ path('flo_about') }}">A propos</a></li>
                    <li><a class="item" href="{{ path('flo_contact') }}">Contact</a></li>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li><a class="item" href="{{ path('admin_homepage') }}">Admin</a> </li>
                    {% else %}

                    {% endif %}
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="{{ path('flo_oeuvres') }}">Oeuvres</a></li>
                    <li><a href="{{ path('flo_fictions') }}">Fictions</a></li>
                    <li><a href="cours.php">Cours</a></li>
                    <li><a href="{{ path('flo_about') }}">A propos</a></li>
                    <li><a class="item" href="{{ path('flo_contact') }}">Contact</a></li>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><a class="item" href="{{ path('admin_homepage') }}">Admin</a> </li>
                    {% else %}

                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</header>

