{% extends 'base.html.twig' %}

{% block body %}
    {% include '@Flo/Default/navadmin.html.twig' %}

    <div id="admin">
        <div class="container">
            <h1>A propos - Edition</h1>

            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}

            <div class="boutons text-center">
                <button class="btn btn-default" type="submit" title="Valider">Valider</button>
                <a class="btn btn-default" href="{{ path('about_index') }}" title="Annuler">Annuler</a>
                <a class="btn btn-default" href="{{ path('about_delete', { 'id': about.id }) }}" title="Effacer">Supprimer</a>
            </div>


            {{ form_end(edit_form) }}

        </div>

    </div>

    {% include '@Flo/Default/footer.html.twig' %}

{% endblock %}
