{% extends 'base.html.twig' %}

{% block body %}
    {% include '@Flo/Default/navadmin.html.twig' %}

    <div id="admin">
        <div class="container">
            <h1>A propos - Accueil</h1>

            <hr>

            <div class="text-center">
                <a class="btn btn-default" href="{{ path('about_new') }}">Nouveau</a>
            </div>

            <hr>

            <table id="modeles" class="table table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Contenu</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for about in abouts %}
                    <tr>
                        <td>{{ about.date }}</td>
                        <td>{{ about.contenu|raw }}</td>
                        <td>
                            <a class="btn btn-default" href="{{ path('about_edit', { 'id': about.id }) }}">Editer</a>
                            <a class="btn btn-default" href="{{ path('about_delete', { 'id': about.id }) }}">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>



        </div>
    </div>
    {% include '@Flo/Default/footer.html.twig' %}

{% endblock %}
