{% extends 'base.html.twig' %}

{% block body %}
    {% include '@Flo/Default/navadmin.html.twig' %}

    <div id="admin">

        <div class="container">

            <div class="row admin_index">

                <div class="col-xs-6">

                    <div class="panel panel-primary text-center">
                        <div class="panel-heading">Galerie</div>
                        <div class="panel-body ">
                            <a class="btn btn-default" href="{{ path('galerie_index') }}" role="button">Accueil</a>
                            <a class="btn btn-default" href="{{ path('galerie_new') }}" role="button">Nouveau</a>
                        </div>
                    </div>

                </div>

                <div class="col-xs-6">

                    <div class="panel panel-success text-center">
                        <div class="panel-heading">Cours</div>
                        <div class="panel-body ">
                            <a class="btn btn-default" href="{{ path('cours_index') }}" role="button">Accueil</a>
                            <a class="btn btn-default" href="{{ path('cours_new') }}" role="button">Nouveau</a>
                        </div>
                    </div>

                </div>

                <div class="col-xs-6">

                    <div class="panel panel-info text-center">
                        <div class="panel-heading">Actualités</div>
                        <div class="panel-body ">
                            <a class="btn btn-default" href="{{ path('actualites_index') }}" role="button">Accueil</a>
                            <a class="btn btn-default" href="{{ path('actualites_new') }}" role="button">Nouveau</a>
                        </div>
                    </div>

                </div>

                <div class="col-xs-6">

                    <div class="panel panel-warning text-center">
                        <div class="panel-heading">A propos</div>
                        <div class="panel-body ">
                            <a class="btn btn-default" href="{{ path('about_index') }}" role="button">Accueil</a>
                            <a class="btn btn-default" href="{{ path('about_new') }}" role="button">Nouveau</a>
                        </div>
                    </div>

                </div>

                <div class="col-xs-6">

                    <div class="panel panel-danger text-center">
                        <div class="panel-heading">Catégorie</div>
                        <div class="panel-body ">
                            <a class="btn btn-default" href="{{ path('categorie_index') }}" role="button">Accueil</a>
                            <a class="btn btn-default" href="{{ path('categorie_new') }}" role="button">Nouveau</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    {% include '@Flo/Default/footer.html.twig' %}



{% endblock %}