{% extends 'base.html.twig' %}

{% block body %}
    <div class="se-pre-con"></div>

    <div id="page" class="actualites">

        <div class="container">
            {% include '@Flo/Default/navbar.html.twig' %}


            <div class="text-center">

                <div class="button-group filters-button-group">
                    <button class="button_galerie button-style button-style-dark-galerie button-style-color-2 is-checked" data-filter="*">Tout</button>

                    {% set newArray = [] %}

                    {% for actualite in actualites|reverse %}
                        {% for categorie in actualite.categorie %}

                            {% if categorie not in newArray %}
                                <button class="button_galerie button-style button-style-dark-galerie button-style-color-2" data-filter=".{{ categorie }}">{{ categorie }}</button>
                                {% set newArray = newArray|merge([categorie]) %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>


                <div class="grid_actu">

                    {% for actualite in actualites %}

                        <div class="grid-item {% for categorie in actualite.categorie %}{% if loop.last %}{{ categorie }}{% else %}{{ categorie }} {% endif %}{% endfor %}" id="actu">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div>
                                    {% for image in actualite.image.urls %}

                                    <img class="thumbnail_actu " src="{{ asset('uploads/images/') }}{{ image }}">

                                    {% endfor %}
                                    </div>
                                    <div class="actu_contenu">
                                        {{ actualite.contenu | truncate(300) |raw }}
                                    </div>
                                    <button class="btn btn-default pull-right" href="{{ actualite.contenu }}" data-toggle="modal" data-target="#{{ actualite.id }}">Lire la suite...</button>

                                    <div class="modal" id="{{ actualite.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">{{ actualite.titre }}</h4>
                                                </div>
                                                <div class="modal-body">
                                                    {#<img class="thumbnail_actu" src="{{ asset('uploads/images/') }}{{ actualite.image }}">#}
                                                    {{ actualite.contenu | raw }}
                                                </div>
                                                <div class="modal-footer">
                                                    Publié le {{ actualite.date |date('d-m-Y') }} par {{ app.user }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {#<div class="panel-footer clearfix">#}
                                {#<div class="pull-right">#}
                                {#<div class="categorie">#}
                                {#{% for categorie in actualite.categorie %}{% if loop.last %}{{ categorie }}{% else %}{{ categorie }} | {% endif %}{% endfor %}#}
                                {#</div>#}
                                {#</div>#}
                                {#</div>#}


                            </div>
                        </div>


                    {% endfor %}
                </div>

            </div>
        </div>

        {% include '@Flo/Default/footer.html.twig' %}
    </div>

{% endblock %}