{% extends 'base.html.twig' %}

{% block body %}
    <div class="se-pre-con"></div>

    <div id="page">

    {% include '@Flo/Default/navbar.html.twig' %}


    <div class="container">

        <div class="text-center">

            <div class="button-group filters-button-group">
                <button class="button_galerie button-style button-style-dark-galerie button-style-color-2 is-checked" data-filter="*">Tout</button>

                {% set newArray = [] %}

                {% for cour in cours|reverse %}
                    {% if cour.categorie not in newArray %}
                        <button class="button_galerie button-style button-style-dark-galerie button-style-color-2" data-filter="#{{ cour.categorie }}">{{ cour.categorie }}</button>
                        {% set newArray = newArray|merge([cour.categorie]) %}
                    {% endif %}

                {% endfor %}



            </div>

            <div id="coursadultes" class="hidden">
                <p class="infos_cours">
                    Cours hebdomadaires

                    mercredi 19h30-22h / jeudi 14h-16h30

                    Tarifs saison 2016-2017 : 100 à 119 euros par trimestre selon le lieu de résidence

                    Cours mensuels (autour du 15 du mois)

                    Jeudi 10h-12h30

                    Tarifs saison 2016-2017 : 100 à 119 euros l'année selon le lieu de résidence

                    Des frais annuels d'inscription de 20 euros sont demandés
                </p>


            </div>

            <div id="coursenfants" class="hidden">
                <p class="infos_cours">
                    Cours hebdomadaires (enfant à partir de 5 ans selon déroulement séance d'essai)

                    mercredi      13h30-15h30 / 15h30-17h30

                    jeudi 17h30-19h30

                    Tarifs pour la saison 2016-2017 : 60 à 119 euros par trimestre selon le lieu de résidence

                    auxquels s'ajoutent 20 euros de frais annuels d'inscription

                </p>
            </div>

            <div id="stages" class="hidden">
                <p class="infos_cours">
                    Du lundi au vendredi

                    de 10h à 12h pour les enfants de 4 à 9 ans

                    de 13h30 à 15h30 pour les enfants de 10 à 16 ans

                    Généralement la première semaine des vacances scolaire d'octobre, février et avril

                    Tarifs de 30 à 40 euros selon le lieu de résidence
                </p>
            </div>

            <div id="coursados" class="hidden">
                <p class="infos_cours">
                    Cours hebdomadaires

                    Mercredi 17h30-19h30

                    Tarifs pour la saison 2016-2017 : 60 à 119 euros par trimestre selon le lieu de résidence

                    Des frais annuels d'inscription de 20 euros sont demandés
                </p>
            </div>


            <div class="grid_cours">

                {% for cour in cours %}

                    {% for image in cour.image.urls %}

                    <div class="grid-item" id="{{ cour.categorie }}">
                        <a href="{{ image | imagine_filter('img') }}" data-toggle="lightbox" data-gallery="example-gallery">
                            <img class="img-rounded thumbnail_galerie" src="{{ image | imagine_filter('my_thumb')}}" />
                        </a>
                    </div>
                    {% endfor %}
                {% endfor %}
            </div>

        </div>
    </div>

    {% include '@Flo/Default/footer.html.twig' %}


{% endblock %}