{% extends 'base.html.twig' %}

{% block header %}
    {% include '@Flo/Default/navbar.html.twig' %}
{% endblock %}

{% block body %}
<body class="page">

    {% for modele in modeles %}

        <div class="parallax-container">
            <div class="parallax"><img src="{{ asset('bundles/flo/images/wall2.jpg') }}"></div>
        </div>

        <div class="section white">

            <div class="row cours">

                <div class="col s12 offset-l1 l6 m12 detailscours">
                    <h1>{{ modele.titre }}</h1>
                    <div class="horaires">
                        <p>{{ modele.contenu|raw }}</p>
                    </div>

                {% if modele.liengaleriecours != null %}
                    <div class="lien center">
                        <a href="{{ modele.liengaleriecours }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Voir la galerie"><i class="fa fa-paint-brush fa-3x" aria-hidden="true"></i>
                        </a>
                    </div>
                {% else %}

                {% endif %}
                </div>

                <div class="col s12 l4 m12 center">
                    <a href="#"><img class="imgcours" src="{{ asset('uploads/images/') }}{{ modele.url }}" alt="{{ modele.alt }}"></a>
                </div>

            </div>

        </div>
    {% endfor %}

    <div class="parallax-container">
        <div class="parallax"><img src="{{ asset('bundles/flo/images/wall2.jpg') }}"></div>
    </div>


{% endblock %}

{% block footer %}
    <div class="infosecole center">
        <h1>Infos</h1>

        <p class="horaires">Les cours ont lieu à l’espace culturel Gérard Philipe, Place Condorcet, à Vert-Saint-Denis.</p>

        <p class="horaires">Renseignements au 01 64 10 25 55 (Syndicat intercommunal de la culture, rue du poirier saint à Cesson) ou  au 06 21 28 01 34</p>

    </div>
{% endblock %}

    {% block javascripts %}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script src="{{ asset('bundles/flo/js/flo.js') }}"></script>
{% endblock %}