{% extends 'base.html.twig' %}

{% block header %}
    {% include '@Flo/Default/navbar.html.twig' %}
{% endblock %}

{% block body %}

<body class="page">
    <div class="grid">
        {% for galerie in galeries %}
            <div class="grid-item">
                <a href="{{ asset('uploads/images/') }}{{ galerie.image }}" data-toggle="lightbox" data-gallery="example-gallery" data-footer="{{ galerie.contenu }}">
                    <img class="img-rounded thumbnail_galerie" src="{{ asset('uploads/images/') }}{{ galerie.image }}" />
                </a>

            </div>
        {% endfor %}

    </div>


{% endblock %}
