{% extends 'base.html.twig' %}

{% block body %}
    {% include '@Flo/Default/navadmin.html.twig' %}

    <div id="admin">
        <div class="container">

            <h1>Categorie - édition</h1>

            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}


            <div class="boutons text-center">

                <input class="btn btn-default" type="submit" value="Editer" />
                <a class="btn btn-default" href="{{ path('categorie_index') }}">Annuler</a>
                <a class="btn btn-default" href="{{ path('categorie_delete', { 'id': categorie.id }) }}" title="Effacer">Supprimer</a>

            </div>


            {{ form_end(edit_form) }}

        </div>
    </div>


{% endblock %}
