{% extends 'base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/flo/fonts/font-awesome-4.3.0/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">

{% endblock %}

{% block body %}
    {% include '@Flo/Default/navadmin.html.twig' %}

    <div id="admin">
        <div class="container">

            <h1>Categories - Accueil</h1>

            <hr>
            <div class="text-center">
                <a class="btn btn-default" href="{{ path('categorie_new') }}">Nouveau</a>
            </div>

            <hr>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for categorie in categories %}
                    <tr>
                        <td>{{ categorie.nom }}</td>
                        <td>

                            <a class="btn btn-default" href="{{ path('categorie_edit', { 'id': categorie.id }) }}">Editer</a>
                            <a class="btn btn-default" href="{{ path('categorie_delete', {'id': categorie.id}) }}">Supprimer</a>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>




        </div>

    </div>
    {% include '@Flo/Default/footer_admin.html.twig' %}

{% endblock %}

{% block javascripts %}

    {{ parent() }}


    <script>
        // JS Datatable
        $(document).ready(function() {


            $('#modeles').DataTable({
                "pageLength": 10,
                "responsive": true,
                "scrollX": true,
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                "language": {
                    "lengthMenu": "_MENU_ ",
                    "zeroRecords": "Rien ne correspond à votre recherche désolé",
                    "info": "Page _PAGE_ / _PAGES_",
                    "search": "Rechercher:",
                    "infoFiltered":   "(parmi _MAX_ modèles)",
                    "paginate": {
                        "first":      "Premier",
                        "last":       "Dernier",
                        "next":       "Suivant",
                        "previous":   "Précédent"
                    }
                }}
            )


        } );

    </script>

    <!-- Appel CDN Datatables -->
    <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>


    <script src="//cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>

{% endblock %}