{% extends 'base.html.twig' %}

{% block body %}
    {% include '@Flo/Default/navadmin.html.twig' %}

    <div id="admin">
        <div class="container">

            <h1>Categorie - Création</h1>

            <div class="text-center">
                {{ form_start(form) }}

                <div class="form-group">

                    {{ form_label(form.nom) }}
                    {{ form_widget(form.nom) }}
                    {{ form_errors(form.nom) }}

                </div>

                <div class="boutons text-center">
                    <input class="btn btn-default" type="submit" value="Créer" />
                    <a class="btn btn-default" href="{{ path('categorie_index') }}">Annuler</a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>

    </div>


{% endblock %}
